<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="LogWritePath" value="C:\\UpdatedLoggerFile.txt"/>
    <add key="XmlFileCreate" value="C:\\UpdatedSerialize.xml"/>
    <add key="UpdatedDbFileCreate" value="C:\\UpdatedFetchedData.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="MyCon" connectionString="Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = UpdatedDatabase; Integrated Security = true;" providerName="System.Data.SQLClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>